<!-- <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Compras App</a>

    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="isAuth()">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active"
          *ngIf="isAuth()">
          <a class="nav-link" routerLink="/proveedores">Proveedores</a>
        </li>
        <li class="nav-item" routerLinkActive="active"
         *ngIf="isAuth()">
          <a class="nav-link" routerLink="/presupuestos">Presupuestos</a>
        </li>
        <li class="nav-item" routerLinkActive="active"
         *ngIf="isAuth()">
          <a class="nav-link" routerLink="/facturas">Facturas</a>
        </li>
        <li class="nav-item" routerLinkActive="active"
         *ngIf="isAuth()">
          <a class="nav-link" routerLink="/uploads">Contratos</a>
        </li>
        <li class="nav-item" routerLinkActive="active"
          *ngIf="!isAuth()">
          <button class="btn btn-primary" routerLink="/inises">Inicio sesión</button>
        </li>
        <li class="nav-item" routerLinkActive="active"
          *ngIf="isAuth()">
          <button class="btn btn-primary"
                  (click)="onLogout()">Cerrar sesión</button>
        </li>
      </ul>
    </div>
  </nav>
 -->




<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" routerLink="/">ComprasApp</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    *ngIf="isAuth()">
      <a class="nav-link" routerLink="/">Inicio </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
      <a class="nav-link" routerLink="/proveedores">Proveedores</a>
    </li>

    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
      <a class="nav-link" routerLink="/presupuestos">Presupuestos</a>
    </li>
    <li class="nav-item" routerLinkActive="active"
         *ngIf="isAuth()">
          <a class="nav-link" routerLink="/facturas">Facturas</a>
    </li>
    <li class="nav-item" routerLinkActive="active"
         *ngIf="isAuth()">
          <a class="nav-link" routerLink="/contratos">Contratos</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth()">
      <button class="btn btn-primary" routerLink="/inises">Inicio sesión</button>
    </li>

    <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
      <button class="btn btn-primary" (click)="onLogout()">Cerrar sesión</button>
    </li>

  </ul>
</div>
</nav>

